#center-page{
    height:100vh;
    width:100vw;
    display: flex;
    align-items: center;
    &>div{
        flex: 0 1 auto;
        width: 50%;
    }
    #left-side{
        text-align: right;
        #left-brain{
            svg * {
                fill: red;
              }
            }
    }
    #right-side{
        text-align: left;
        #right-brain{
            svg * {
                fill: blue;
              }    
        }
    }
    .brain-image{
        height:100vh;
        // display: flex;
        // align-items: center;
        svg{
            height:50%;
            margin:1%;
            * {
                width:  100%;
                height: 100%;
              }
            }
    }
}
