#center-page {
    left: 100vw;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    &>div {
        flex: 0 1 auto;
        width: 50%;
    }
    #left-side {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffc8c8+0,ffc8ff+100 */
        background: $left-color;
        /* Old browsers */
        background: -moz-linear-gradient(left, $left-color 0%, $center-color 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, $left-color 0%, $center-color 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, $left-color 0%, $center-color 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$left-color', endColorstr='$center-color', GradientType=1);
        /* IE6-9 */

        // &:hover {
        //     background: rgb(255,200,255); /* Old browsers */
        //     transition: background 1s ease;
        // }
        #left-brain {
            svg {
                margin-left: auto;
                margin-right: 1%;
                * {
                    fill: $left-brain;
                }
            }
        }
    }
    #right-side {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffc8ff+0,c8c8ff+100 */
            background: $center-color;
            /* Old browsers */
            background: -moz-linear-gradient(left, $center-color 0%, $right-color 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(left, $center-color 0%, $right-color 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, $center-color 0%, $right-color 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$center-color', endColorstr='$right-color', GradientType=1);
            /* IE6-9 */
        #right-brain {
            svg {
                margin-left: 1%;
                margin-right: auto;
                * {
                    fill: $right-brain;
                }
            }
        }
    }
    .either-side {
        &:hover {
            .brain-image {
                svg {
                    height: 85%;
                    transition: height 1s ease;
                }
            }
        }
    }
    .brain-image {
        height: 100vh;
        display: flex;
        align-items: center;
        svg {
            height: 75%;
            transition: height 1s ease;
            * {
                width: 100%;
                height: 100%;
            }
        }
    }
}