
*{
    Font-Family: 'Lora', Serif;
    Font-Size: 14px;
}

h1{
    Font-Family: 'Roboto', Sans-Serif;
    Font-Size: 2rem;
}

h2{
    Font-Family: 'Roboto', Sans-Serif;
    Font-Size: 1.5rem;
}



.container{
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.section{
    padding:2%;
}

.responsive-image{
    max-width:100%;
    height:auto;
}
