*{
    box-sizing: border-box;
}
body{
    background-color: white;
}

.container{
    width: 300vw;
    overflow-x:none;
    display: flex;
    flex-direction: row;

    .main-panel{
        width: 100vw;
    }
    .hidden-panel {
        max-width: 0;
        opacity: 0;
    }    
}