
h1{
    Font-Family: 'Roboto', Sans-Serif;
    Font-Size: 48px;
}

p{
    Font-Family: 'Lora', Serif;
    Font-Size: 14px;
}

.container{
    margin: 0 5%;
    max-width: 1000px;
    padding: 2%;
    display: flex;
}