*{
    box-sizing: border-box;
}
body{
    background-color: white;
}

.container{
    width: 100vw;
    overflow-x:none;
}

.main-panel{
    max-width: 100vw;
    opacity: 1;
}

.hidden-panel {
    max-width: 0;
    width: 0;
    opacity: 0;

}