#left-page {
    background: white;
    left: 0;
    background-color: $left-brain;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    // grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    grid-template-areas:
    "freelance freelance freelance brain"
    "resume resume resume aside"
    "workHistory workHistory aside"
    "footer footer aside";
    // max-width: 1000px;
    // height: 1000px;
    // margin: auto;
    .inverse-background{
        background: black;
    }
    .freelance_{
        grid-area: freelance;
    }
    .brain-nav{
        grid-area: brain;
        background: $right-brain;
    }
    form{

    }
}