/* Scss Document 
*/
#content {
	display: flex;
	flex-direction: column;
	padding: .5rem;
	#banner{
		margin: 0 -.5rem;
	}
}
@media screen and (min-width: $desktop-viewport) {
	#content {
		#banner{	
			//margin: 0 -1rem;
		}
	}
}	
.testimonials{
	.review{
		border-bottom: thin solid $red;
		padding: 2rem 0;
		.customer-name{
			display: inline-block;
			border-right: thin solid $green;
			padding: 0 .25rem;
			font-weight: bold;
		}
		.customer-rating{
			display: inline-block;
			border-right: thin solid $green;
			padding: 0 1rem;
			.fa-star{
				-webkit-text-stroke: 1px rgba(255, 215, 0, 0.5);
				color: white;
				//using text-shadow as fallback since text-stroke isn't universal
				text-shadow:
					-1px -1px 0 rgba(255, 215, 0, 0.5),  
					1px -1px 0 rgba(255, 215, 0, 0.5),
					-1px 1px 0 rgba(255, 215, 0, 0.5),
					1px 1px 0 rgba(255, 215, 0, 0.5);
			}
				.filled{
					color: rgba(255, 215, 0, 1);
				}
		}
		.customer-source{
			display: inline-block;
			padding: 0 .25rem;
			color: $green;
			font-size: 1.5rem;
		}
		.customer-description{
			padding: 2rem;
			font-style: italic;
			p{
				margin: 0;
				&:first-child{
					&:before {
						display: inline-block;
						float: left;
						font-family: FontAwesome;
						content: "\f10d";
						font-size: 1.25rem;
						color: $green;
						padding-right: 1rem;
					}					
				}
				&:last-child{
					&:after {
						display: inline-block;
						float: right;
						font-family: FontAwesome;
						content: "\f10e";
						font-size: 1.25rem;
						color: $green;
						padding-left: 1rem;
					}					
				}
			}
		}		
	}
}

@media screen and (min-width: $desktop-viewport) {
	.content {
		flex-direction: row;
	}
	#-content {
		flex: 1 1 auto;
	}
}
