/* Styles for Single Level Menu */

#header {
	.logo {
	}
	#header-icons-mobile {
		display: none;
	}
	.main-navigation {
		/* Base styles that apply to all menus */
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			font-size: .95rem;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			li {
				a {
					border-top: thin solid #CCC;
					border-bottom: thin solid #CCC;
					display: block;
					text-decoration: none;
					color: $green;
					padding: .3rem 0;
					text-align: center;
					&:before {
						display: inline-block;
						font-family: FontAwesome;
						content: "\00a0 \f06c";
						transform: rotateY(180deg);
						opacity: 0;
						transition: opacity 1s ease;
					}
					&:after {
						display: inline-block;
						font-family: FontAwesome;
						content: "\00a0 \f06c";
						opacity: 0;
						transition: opacity 1s ease;
					}
					&:hover {
						border-top: thin solid $green;
						border-bottom: thin solid $green;
						&:after {
							opacity: .8;
							transition: opacity 1s ease;
						}
						&:before {
							opacity: .8;
							transition: opacity 1s ease;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile-viewport) {
	#header {
		.logo {
			display: inline-block;
			width: 50%;
		}
		#header-icons-mobile {
			display: inline-block;
			margin-left: auto;
			float: right;
			font-size: 2rem;
			color: $green;
			i {
				padding: .75rem;
			}
			a{
				color: $green;
			}
		}
		.main-navigation {
			clear: both;
			.mobile-search {
				.search-submit {
					font-family: FontAwesome;
				}
			}
			ul {
				li {
					width: 50%;
					a {
						font-size: 1.2rem;
						border: thin solid #CCC;
						padding: .5rem 0;
						&:before {
							opacity: .8;
						}
						&:after {
							opacity: .8;
						}
					}
				}
			}
		}
		.toggle-menu {
			display: none;
		}
	}
}

@media screen and (min-width: $desktop-viewport) {
	#header {
		.logo {
			margin: auto;
			width: 25%;
			padding: .25rem;
		}
		#header-icons-mobile{
			display: none;
		}
		.main-navigation {
			ul {
				li {
					flex: 1 0 auto;
					text-align: center;
				}
			}
		}
	}
}

@media screen and (min-width: $max-desktop-viewport) {
	#header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-content: center;
		.logo{
			flex: 1 1 300px;
			padding-right: 25px;
		}
		.main-navigation {
			flex: 1 1 900px;
			align-self:center;
			ul {
				font-size: 1rem;
			}
		}
	}
}
