/* Scss Document */

//@import "fontawesome/font-awesome";
//@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Montserrat&effect=grass';
body {
	font-family: 'Open Sans', sans-serif;
	//color: darken( $green, 75% );
	color:$brown;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	color: $green;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	margin: .5rem 0;
	font-size: 1.25rem;
}


/* Use the following CSS code if you want to have a class per icon */

.content {
	ul {
		padding-left: 20px;
		list-style: none;
		li {
			margin-bottom: 10px;
			&:before {
				font-family: 'FontAwesome';
				content: '\f06c';
				margin: 0 5px 0 -15px;
				color: $green;
			}
		}
	}
}