#character-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    #options-container {
        display: none;

    }
    #character-list {
        width:100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        .individual-character {
            text-align: center;
            padding: .5%;
            margin: .5%;
            min-width: 7.5%;
            font-size: 4vw;
            border: thin black inset;
        }
        .highlighted-character{
            background: yellow;
            color: red;
        }
    }
}