.image-output {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    .photo-from-flickr {
        padding: .5%; //5px at max res, I wanted the padding to decrease as the width decreases
        img {
            width: 100%;
            height: auto;
            padding: 1%;
            border: 1%;
        }
    }
}

//at less than 768px have .photo-from-flickr width be 50 percent