* {
    box-sizing: border-box;
}
#root {
    position: relative;
    height: 100vh;
section {
        min-height: 100vh;
        min-width: 100vw;
        position: relative;
        padding: 25px 0;
    }
}
@media only screen and (min-height: 600px) {
    #root {
        scroll-snap-type: y mandatory;
        overflow-y: scroll;

        section {
            scroll-snap-align: start;
        }
    }

}